<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.untitled1"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:allowBackup="true"

        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
                android:name="com.example.untitled1.MainActivity"
                android:label="Prilaga">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".People"
                  android:label="People">
        </activity>
        <activity android:name=".Animal"
                  android:label="Animal">
        </activity>
        <activity android:name=".UFO"
                  android:label="UFO">
        </activity>
        <service android:name=".BackgroundTask"
                 android:label="BackgroundTask"/>
    </application>

</manifest>
